input,
select {
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  height: 25px;
}

.chkPrioridade {
  display: inline;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

:checked {
  transition-duration: 1000ms;
  width: 20px;
  height: 20px;
}

.grupoInput {
  display: flex;
}

.grupoInput span {
  font-size: 16px;
}

#inpNumero {
  max-width: 6rem;
  height: 20px;
  width: 100%;
}

#idDepartamento {
  width: 6.25rem;
}
#departamento {
  width: 25rem;
}
#dataRequisicao {
  width: 7.5rem;
}
#idFuncionario {
  max-width: 6.25rem;

  width: 100%;
}
#NomeFuncionario {
  width: 25rem;
}
#cargo {
  max-width: 7.5rem;
  width: 100%;
}
#categoriaMotivo {
  width: 9rem;
}
#Motivo {
  width: 11.25rem;
}

.radioPrioridade {
  width: 13rem;
}

.camposItens span {
  font-size: 16px;
}
.grupoProduto {
  width: 30%;
  margin-right: 5px;
}
.grupoProduto input {
  width: 100%;
}

.grupoProdutoDescricao {
  margin-right: 5px;
  width: 50%;
}
.grupoProdutoDescricao input {
  width: 100%;
  width: 100%;
}
.grupoEstoque {
  width: 2rem;
  width: 20%;
}
.grupoEstoque input {
  width: 5rem;
  width: 100%;
}

.grupoBtnInserirItens {
  width: 15%;
}

.BtnInserirItens {
  background-color: #0095c5;
  width: 100%;

  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.BtnInserirItens button {
  color: #ffffff;
  background: transparent;
  border: none;
  font-size: 14px;
}
