@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.header {
  max-width: 710px;
  width: 100%;
  height: 5vh;
  background-color: #15c7ff;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1.5vw;
}
.header span {
  color: #ffffff;
}
.conteudo {
  /* background-color: yellow; */
  padding-top: 3vh;
  max-width: 710px;
  width: 90%;
  padding-left: 1vw;
  padding-right: 1vw;
  border-color: #cdcdcd;
  border-radius: 20px;
  border-style: solid;
  flex-wrap: wrap;
}

.camposPrincipais {
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 3vh;
  flex-wrap: wrap;
  flex-direction: column;
}
.linhasCampos {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  justify-content: space-between;
  align-items: center;
}
.grupoInput {
  display: flex;
  flex-direction: column;
}

.grupo9 {
  margin-left: 1px;
  display: flex;
  justify-content: center;
}
.radioPrioridade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 5px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.grupoPrioridade {
  display: flex;
  padding-left: 2px;
}

.grupoCategoria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAdd {
  width: 30px;
  height: 30px;
}
.btnAdd:hover {
  cursor: pointer;
  scale: 1.5;
  transition-duration: 1000ms;
}

.grupoMotivo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dadosPrincipais {
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}
.titulo {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #363636;
}

/* ITENS */
.itensRequisicao {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.camposItens {
  display: flex;
  flex-direction: column;

  width: 95%;
  margin: 0 auto;
}
.linhaAdicionarItens {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 2vh 0;
}

.modalEstoque {
  display: none;
  width: 80%; 
  max-width: 200px; 
  height: 100px; 
  position: absolute;
  background: #f6f2ca;
  border-radius: 5px;
  border: 1px solid #fbf215;
  top: 42%; 
  left: 53%; 
  box-sizing: border-box; /
}

.modalDiv {
  display: flex;
  margin: 7px 0 0 10px;
  gap: 10px;
}

.modalDiv p {
  font-size: 10px;
}

.quadrado {
  width: 13.641px;
  height: 12.284px;
  border: 1px solid #000;
}

.modal-verde {
  background: #00d222;
}

.modal-amarelo {
  background: #fbf215;
}

.modal-vermelho {
  background: #92030c;
}

.grupoStatusEstoque {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
#corEstoque {
  display: flex;
  width: 30px;
  height: 30px;
  background: #00d222;
}
.grupoBtnInserirItens {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.tabelaItens {
  margin-top: 10px;
  width: 100%;
  display: flex;
  margin: 20px 0;
  border: 1px solid #cdcdcd;
}
.tabelaItens .box-codigo {
  width: 100px;
  height: 100px;
}

.tabelaItens p {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
}

.box-descricao {
  width: 200px;
}

.box-descricao p {
  text-align: left;
  padding-left: 10px;
}

.box {
  border: 1px solid #cdcdcd;
}

.box-unidade {
  width: 88px;
}

.box-unidade p {
  text-align: left;
}

.box-prices {
  width: 130px;
}

.box-prices p {
  text-align: left;
  padding-left: 10px;
}

.box-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.input-total {
  width: 8rem;
  height: 1.5rem;
}

.input-total {
  border-radius: 5px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .modalEstoque {
    width: 90%; /* Ajuste a largura para telas pequenas */
    max-width: 200px; /* Remova o tamanho máximo para telas pequenas */
    top: 45%;
    left: 47%;
  }
}
